@{
    ViewData["Title"] = "Editor Page";
}

<div class="text-center">
    <select class="custom-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">home</option>
        <option value="2">men</option>
        <option value="3">women</option>
    </select>
    
</div>
