@model shop_net.ViewModels.ItemsViewModel

@{
    ViewData["Title"] = "Не-магазин";
}

<div class="flex-container" style="display: flex; flex-wrap: wrap;"> 
    @{
        foreach (var item in Model.Items)
        {
            @Html.Partial("ItemTemplate", item)
        }
    }
</div>
