@model shop_net.ViewModels.ItemsViewModel

@{
    ViewData["Title"] = "Не-магазин";
}

<div class="text-center">
    @{
        foreach (var item in Model.Items)
        {
            @Html.Partial("ItemTemplate", item)
        }
    }
</div>
