<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - shop_net</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/shop_net.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white justify-content-center border-bottom box-shadow mb-3">
            <div class="container">

                <div class="row">
                    <a asp-area="" class="main-title" asp-controller="Home" asp-action="Index">НЕМ-АГА-ЗИН</a>
                </div>
            
                <div class="row">
                    <div class="col">
                        <div class="panel-group" id="accordion0" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne0">
                                    <h4 class="panel-title">
                                        <a role="button" class="category-title" data-toggle="collapse" data-parent="#accordion" 
                                           href="/Items/List/home" aria-expanded="true" aria-controls="collapseOne">Домское</a>
                                    </h4>
                                </div>
                                <div id="collapseOne0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a href="/Items/List/home/furniture" class="subcategory-title">Мебель</a>
                                            <a href="/Items/List/home/crockery" class="subcategory-title">Посуда</a>
                                            <a href="/Items/List/home/textile" class="subcategory-title">Текстиль</a>
                                            <a href="/Items/List/home/light" class="subcategory-title">Освещение</a>
                                            <a href="/Items/List/home/decor" class="subcategory-title">Декор</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" class="category-title" data-toggle="collapse" data-parent="#accordion" 
                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Скуфское</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a href="#" class="subcategory-title">Одежда</a>
                                            <a href="#" class="subcategory-title">Обувь</a>
                                            <a href="#" class="subcategory-title">Аксессуары</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne1">
                                    <h4 class="panel-title">
                                        <a role="button" class="category-title" data-toggle="collapse" data-parent="#accordion" 
                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Милфское</a>
                                    </h4>
                                </div>
                                <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="list-group">
                                            <a href="#" class="subcategory-title">Одежда</a>
                                            <a href="#" class="subcategory-title">Обувь</a>
                                            <a href="#" class="subcategory-title">Аксессуары</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </nav>
    </header>


        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - shop_net - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

